Multi Agent System small use case
{
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        384
      ],
      "id": "66f72dcd-a2e3-450c-921d-d1e27fe8c843",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eSh3Pj4GS27tPEOB",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to take any email actions, there is only one email where you can send the email so no need to worry if email is not provided in the chat input",
        "workflowId": {
          "__rl": true,
          "value": "T7mgiPNVOdTn1GZg",
          "mode": "list",
          "cachedResultName": "Multi Agent Subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $json.chatInput }}"
          },
          "matchingColumns": [
            "chatInput"
          ],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        592,
        240
      ],
      "id": "a524b0a6-39a0-486a-841a-625d4c266a02",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        0
      ],
      "id": "d6dc02ea-3f22-4381-81d9-423616f8f27b",
      "name": "When chat message received",
      "webhookId": "c417c607-9959-421a-83b4-073ee6d08910"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=\n\n##Tools:\nEmail Agent: Call this tool to take any email actions, You can only send emails to tejaslalwani24@outlook.com \n\nOutput Format:\nSubject -- define it yourself according to the message\nDescription -- use the chatinput to generate a formal description\n\nExample output:\nSubject: hi!!\nDescription: Long time no see"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        0
      ],
      "id": "d6db6bb6-6119-455b-80a5-50c3b0e5b1ae",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        176
      ],
      "id": "0cab1a86-02ba-43e1-b5c1-4b829a6abab4",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7fb99dcfb7364cdfce9c87e521b35a79151df4823b149ecb1a54e0eb51e7be69"
  }
}
