ultimate personal assistant
{
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=Your task is to take action based on the chat input using the available tools. Use the following logic:\n\n1. If an **email address** is mentioned in the chat, use the **Gmail tool** to send an email directly to that address.\n2. If **no email** is mentioned, use the **Contacts tool** to get the contact information of the person referred to in the chat, and then use the **Gmail tool** to email them.\n3. If the chat indicates a need to schedule something, use the **Calendar tool** to create a meeting. The **title of the meeting** should match the context of the conversation.\n4. Use the current date/time: `{{ $now }}`\n5. Once all tasks are completed, return a summary output showing what actions were taken (email sent, contact info retrieved, meeting scheduled, etc.).\n\nUsing the tools properly is very important.\n\nAlways respond with the output after completing your tasks.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "1e1e8355-c04b-443f-9f88-5a1dcd0097d0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=a"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        240
      ],
      "id": "7d1b1dca-754c-4fad-9f01-539bdad6b8ce",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1B6oMZbVvcvvlo-TRsEiPmgkUtyLwYuzNfUJSXdjGrvg",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B6oMZbVvcvvlo-TRsEiPmgkUtyLwYuzNfUJSXdjGrvg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B6oMZbVvcvvlo-TRsEiPmgkUtyLwYuzNfUJSXdjGrvg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1040,
        224
      ],
      "id": "88b946d4-991f-4f1b-bf13-1efc7bc782db",
      "name": "Contacts DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GvZx316l8YHFnS4l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `use Contacts tool to find the contact information for the given person`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `figure out the subject yourself using the input given`, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        928,
        224
      ],
      "id": "c0a6200f-01f9-4672-b706-86fe6aec8cf7",
      "name": "Gmail",
      "webhookId": "769a064e-30f6-4234-8dfb-9c5f7ccf266a",
      "credentials": {
        "gmailOAuth2": {
          "id": "xp4nGrxLLfkKPBWm",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "tejaslalwanicanada@gmail.com",
          "mode": "list",
          "cachedResultName": "tejaslalwanicanada@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        688,
        224
      ],
      "id": "92044de1-2838-4599-bec3-5d5cec337344",
      "name": "Calender",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CFaKYp2mR5GLjDaS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.together.xyz/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 24991381336eab93e57eba263706a87e0abfe5f3f43312fb300bb6d6b1da283e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"meta-llama/Llama-3.3-70B-Instruct-Turbo-Free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.chatInput }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        784,
        224
      ],
      "id": "53db8719-aca6-412e-bc59-4fe383ce1b57",
      "name": "Meta chat model"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        224
      ],
      "id": "bb4b3280-52c2-4a36-a3b0-12508322bfa7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "0a6qNVLVyCvYB2pv",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        0
      ],
      "id": "46f860b2-5a50-4fe4-923b-997ef7b284ef",
      "name": "When chat message received",
      "webhookId": "e178a017-fe4a-4398-8a7a-d268a6ed357e"
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Contacts DB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calender": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Meta chat model": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7fb99dcfb7364cdfce9c87e521b35a79151df4823b149ecb1a54e0eb51e7be69"
  }
}
